# Dependencies
node_modules/

# Environment variables
# .env

# Build output
frontend/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Reference folder (không cần push)
photo-graph-web-main/
